body {
  background: rgb(163, 247, 181);
  background: linear-gradient(90deg, rgba(163, 247, 181, 1) 15%, rgba(64, 201, 162, 1) 50%, rgba(47, 156, 149, 1) 85%);
  --animate-duration: 1500ms;
  --animate-delay: 0.9s;
}

#name {
  color: black;
  font-size: 5vw;
  font-family: horison;
  margin-bottom: 5px;
}

#headshot {
  margin-top: 1vw;
  margin-left: 5px;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  border: 3px solid #664147;
}

.line {
  background-color: #664147;
  border: none;
  min-width: 380px;
  max-width: 550px;
  height: 3px;
}

@font-face {
  font-family: horison;
  src: url(./assets/fonts/Horison.ttf);
}

#header {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  
}

#nameAndLinks {
  display: flex;
  flex-direction: column;
}

#links {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.linkWithText {
  font-family: horison;
  display: flex;
  flex-direction: row;
}


a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.linkWithText p{
  margin-top: auto;
  margin-bottom: auto;
  /* text-decoration: none; */
  font-size: 1vw;
}

.icon {
  margin-right: 2vw;
  color: black;
  font-size: 30px;
}

.icon:hover {
  transform: scale(1.2);
}

#aboutMe {
  text-align: justify;
  font-size: 20px;
  font-family: horison;
  min-width: 380px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#eye {
  background-image: url(../src/assets/images/eye.gif);
  background-size: contain;
  background-repeat: no-repeat;
  /* color: transparent; */
}