body {
  background: rgb(163, 247, 181);
  background: linear-gradient(90deg, rgba(163, 247, 181, 1) 15%, rgba(64, 201, 162, 1) 50%, rgba(47, 156, 149, 1) 85%);
}

#name {
  color: black;
  font-size: 5vw;
  font-family: horison;
  margin-bottom: 5px;
}

#headshot {
  margin-top: 1vw;
  margin-left: 5px;
  border-radius: 50%;
  width: 10vw;
  min-width: 30px;
  height: 10vw;
}

#nameLine {
  width: 95vw;
}

@font-face {
  font-family: horison;
  src: url(./assets/fonts/Horison.ttf);
}

#header {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

#nameAndLinks {
  display: flex;
  margin-left: 2vw;
  flex-direction: column;
}

#links {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.linkWithText {
  font-family: horison;
  display: flex;
  flex-direction: row;
}


a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.linkWithText p{
  margin-top: auto;
  margin-bottom: auto;
  /* text-decoration: none; */
  font-size: 1vw;
}

.icon {
  margin-right: 2vw;
  color: black;
  font-size: 30px;
}